Options +FollowSymLinks
IndexIgnore */*
RewriteEngine on

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
RewriteRule . index.php
RewriteCond %{HTTP_HOST} ^telemedellin\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.telemedellin\.com$
RewriteRule ^/?$ "http\:\/\/www\.telemedellin\.tv\/" [R=301,L]

